# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Keys
*.pem

# Mac files
.DS_Store

# Ansible
*.retry

# Terraform directories
.terraform/
*.tfstate.backup

**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform/
**/.terraform.lock.hcl
**/*.tfvars
